body {
  font: 30px "Century Gothic", Futura, sans-serif;
}

html, body, #root, #root>div {  
  height: 100%;
  width: 100%;
  margin: 0px;
}

.mainbar {
  box-shadow: 0px 2px 5px lightblue;
  padding: 20px;
  padding-bottom: 30px;
  padding-right: 40px;
}




.mainbarbutton-active {
  font-size: 22px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 5px;
  border-radius:8px;
  border: 2px solid #4095c6;
  font-weight:700;
  color:#FFFFFF;
  background-color:#4eb5f1;
  transition: all 0.15s;

  display: flex;
  align-items: center;

  text-decoration: none;
}
.mainbarbutton-active:hover {
  background-color:#4095c6;
}
@media all and (max-width:30em){
  .mainbarbutton-active {
    display:block;
    margin:0.2em auto;
  }
}

.mainbarbutton-inactive {
  font-size: 22px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 5px;
  border-radius:8px;
  border: 2px solid #FFFFFF;
  font-weight:700;
  color:#777777;
  /* background-color:#4eb5f1; */
  transition: all 0.15s;

  display: flex;
  align-items: center;

  text-decoration: none;
}
.mainbarbutton-inactive:hover {
  background-color:#b6d9ee;
  border: 2px solid #71bbe6;

}
@media all and (max-width:30em){
  .mainbarbutton-inactive {
    display:block;
    margin:0.2em auto;
  }
}

.maintitle {
  color: rgb(0, 72, 139);
  font-size: 30px;
  text-align:center;
  margin-bottom: 15px;

}

.button3 {
  width: 100%;
  font-size: 30px;
  border-radius:70px;
  border: 2px solid #4095c6;
  font-weight:700;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.15s;
}
.button3:hover {
  background-color:#4095c6;
}
@media all and (max-width:30em){
  .button3 {
    display:block;
    margin:0.2em auto;
  }
}

.textField1 {
  width: 100%;
  font-size: 30px;
  text-align: center;

  border-radius:70px;
  outline: none;
  transition: all 0.15s;
}
.textField1:hover {
  background-color: #effafd;
}
.textField1:focus {
  background-color: #dff6ff;
}



.listbutton {
  width: 100%;
  font-size: 30px;
  padding:0.1em 1.2em;
  margin:0 0px 12px 0;
  border-radius:70px;
  border: 2px solid #4095c6;
  font-weight:700;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.15s;
}
.listbutton:hover {
  background-color:#4095c6;
}
@media all and (max-width:30em){
  .listbutton {
    display:block;
    margin:0.2em auto;
  }
}


.align-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.align-container-tr {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}



.margin-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}



.square:focus {
  outline: none;
}

.secondarytext {
  color: #777777;
  font-size: large;
  text-align: center;

}


.listEntry {
  color: #777777;
  font-size: 30px;
  text-align: center;
  border-radius:10px;
  border: solid 2px #cecece;
  padding:0.25em 0.25em;
  outline: none;
  transition: all 0.15s;
}

/* 
.button3small {
  font-size: 18px;
  padding:0.3em 1.2em;
  margin:0 10px 10px 0;
  border-radius:70px;
  border: 2px solid #4095c6;
  font-weight:700;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.15s;
}

.button3small:hover {
  background-color:#4095c6;
}
@media all and (max-width:30em){
  .button3small {
    display:block;
    margin:0.2em auto;
  }
}  */

.gridcontainer {
  display: grid;
  width: 100vh;
  padding: 10%;
  grid-template-columns: 40% 40% 40%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.gridentry {
  padding: 20px;
  color: #888888;
  font-size: 20px;
  text-align: center;
}